<div class="container">

  <div>
    <h1><%= @dojo.branch %></h1>

    <p>Address:<%= @dojo.street %> </p>

    <p>City:<%= @dojo.city %> </p>

    <p>State:<%= @dojo.state %></p>

    <hr>

    <h3>Cohort</h3>

    <table>
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
      </thead>

      <tbody>
        <%@students.each do |student|%>
          <tr>
            <td><%= student.first_name%></td>
            <td><%= student.last_name%></td>
            <td><%= student.email%></td>
            <td>
              <%= link_to "Show", dojo_student_path(@dojo, student)%> |
              <%= link_to "Edit", edit_dojo_student_path(@dojo, student)%> |
              <%= link_to "Delete", dojo_student_path(@dojo, student), data: {method: :delete, confirm:"Are you sure?"}%>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to "Home", root_path%> | <%= link_to "Edit", edit_dojo_path(@dojo)%> |
  <%= link_to "Join", new_dojo_student_path(@dojo)%>

</div>
