<!-- NEED TO CREATE THE IF CHECK, FOR LOOP FOR MESSAGES, and FOR LOOP FOR COMMENTS. 03/17/2017 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Message Board</title>
  </head>
  <body>
    <div>
      <h1>Village Help Wanted</h1>
    </div>

      <div>
    <!-- Post Message -->
    <form class="" action="/message" method="post">
    <p>Name: <input type="text" name="name" value="">
    <p>Message: <textarea name="message" rows="8" cols="80"></textarea>
      <input type="submit" value="Post Message">
    </form>
    <!-- if check for any errors on our page -->
    <% if(typeof(errors) != 'undefined') {%>
      <% for (var x in errors) {%>
        <h3><%= errors[x].message %></h3>
    <% } %>
  <%} else {%>
    <div>
      <% for (x in messages) {%>
        <div>
          <!-- for loop to display the messages from our user -->
          <h3>Name: <%= messages[x].name %></h3>
          <h3>Message: <%= messages[x].message %></h3>
          <!-- nested for loop to display the comments from other users. remember to use 'of' instead of 'in' "for(x of messages)" -->
          <% for (y of messages[x]._comments) {%>
            <h5>Name: <%= y.name %></h5>
            <h5>Comment: <%= y.comment %></h5>
        <% } %>
        <!-- Comment Section -->
        <form action="/comment/<%=messages[x].id   %>" method="post">
          <p>Name: <input type="text" name="name" value="">
            <p>Comment: <textarea name="comment" rows="8" cols="80"></textarea>
              <input type="submit" name="submit" value="Post Comment">
            </form>
          </div>
        <% } %>
      </div>
    <% } %>
  </body>
</html>
