<div>
  <h1>Interested in joining the Dojo?</h1>
</div>

<div class="col-md-4">

  <div class="form-group">

    <form class="" action="/dojos/<%= @dojo.id %>/students" method="post">

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

      <div class="form-group">
        <label>First Name:</label>
        <input type="text" id="first_name" name="student[first_name]">
      </div>

      <div class="form-group">
        <label>Last Name:</label>
        <input type="text" id="last_name" name="student[last_name]">
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input type="text" id= "email" name="student[email]">
      </div>

      <div class="form-group">
        <label>Dojo:</label>
        <select name="student[dojo_id]">
          <% @dojos.each do |dojo|%>
            <%if dojo == @dojo%>
              <option value="<%= dojo.id %>"><%= dojo.branch %></option>
            <% else %>
              <option value="<%= dojo.id %>"><%= dojo.branch%></option>
            <%end%>
          <%end%>
        </select>
      </div>

      <input type="submit" name ="Join">
    </form>
    <%= link_to "Home", root_path %> | <%= link_to "#{@dojo.branch}", @dojo%>
  </div>

</div>
