<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <h1><%= hero.name%></h1>
  <h3>Weight: <%= hero.weight %></h3>
  <h3>Race: <%= hero.race %></h3>
  <h3>Class: <%= hero.class %></h3>
  <h4>Clan: <%= hero.clan %></h4>
  <a href="/">Home</a>
  <a href="/<%= hero._id %>/edit">Edit</a>
</body>
</html>
