<div class="row text-center">
<h1>Welcome, care to try your luck?</h1>
</div>
<hr>

<div class="container">

  <div class="row">
    <!-- @gold is defined in the index controller. -->
    <h4> Your Gold: <%= @gold %></h4>
  </div>

  <div class="row text-center">

    <div class="col-md-3">
      <h2>Farm</h2>
      <p>(earns: 10-20 golds)</p>
            <!-- farm is a post route. -->
      <form action = '/farm' method = 'post'>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
        <button class = 'btn btn-default'>Find Gold!</button>
      </form>
    </div>

    <div class="col-md-3">
      <h2>Cave</h2>
      <p>(earns: 5 -10 golds)</p>

      <form action = '/cave' method = 'post'>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
        <button class = 'btn btn-default'>Find Gold!</button>
      </form>
    </div>

    <div class="col-md-3">
      <h2>House</h2>
      <p>(earns: 2 - 5 golds)</p>

      <form action = '/house' method = 'post'>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
        <button class = 'btn btn-default'>Find Gold!</button>
      </form>
    </div>

    <div class="col-md-3">
      <h2>Casino</h2>
      <p>(earns/takes: 0 - 50 golds)</p>

      <form action = '/casino' method = 'post'>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
        <button class = 'btn btn-default'>Find Gold!</button>
      </form>
    </div>
  </div>

  <hr>
  <h5>Activities:</h5>
  <div class="row" style="border: 5px solid black; height: 200px; overflow: scroll">

    <% @activities.each do |record| %>
    <% if record["won"] == true %>

      <p style="color: green"><%= record["sentence"]  %></p>

    <%else%>

      <p style="color: red"><%= record["sentence"] %></p>

      <%end%>

    <% end %>
  </div>

</div>
